body{
	background-color: #222222;
	color: #666666;
	font-family: verdana;
	font-size: 10px;
}

#woonkamer {
	position: relative;
	width: 800px;
	height: 574px;
	background-color: #333333;
	overflow: hidden;
}

#gerrit	 {
	top: 360px;
	left: 20px;
	width: 200px;
	height: 164px;
}

img {
	position: absolute;
}


.block1 {
	width: 150px;
	height: 150px;
	background-color: white;
	opacity: 0.4;
}

.title {
	font-size: large;
	color: #222222;
	font-weight: 400;
}

.text {
	font-size: large;
	color: #222222;
	font-weight: 200;
}
